name: Trigger a build and promote of Kaleido image

on:
  push:
    branches:
      - release-v1.3.3
  workflow_dispatch:

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.ORG_PAT }}
          repository: kaleido-io/firefly-enterprise
          event-type: build-and-promote-erc20
